
body {
    background-color: white;
}

/* --- Classes --- */

.inputtext {
    background-color: #FFFFFF;
    height:23px;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    font-size: 20px;
    margin: 0;
    padding: 5px 8px 5px 8px;
    width: 200px;
    border:1px solid #3A518A;
}
.inputtext:hover {
    border-color: #A0A0A0 #B9B9B9 #B9B9B9;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.login-button { 
    border:1px solid #1D3871;
    width:150px; height:45px;
    background-image:-webkit-linear-gradient(top, #331F3E, #665C6C);
    font-size:20px;
    line-height:25px;
    font-weight:normal;
    color:#fff;
    box-shadow: 1px 1px 3px #1D3871;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
}

.reg-button {
    background: #5870A8;
    background-image:-webkit-linear-gradient(top, #340099, #6449b0);
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid #1D3871;
    letter-spacing: 1px;
    color: #fff;
    width: 440px;
    line-height:30px;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    -moz-box-shadow: 1px 1px 3px #1D3871;
    -webkit-box-shadow: 1px 1px 3px #1D3871;
    box-shadow: 1px 1px 3px #1D3871;
    cursor: pointer;
}

.empty-space {
  width: 100%;
  height: 15px;
  background-color: #fff;
}

/* --- Classes END --- */

/* --- Top bar --- */

#top-bar {
    postion: fixed;
    width: 80%;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
} 

#top-bar-left { /* -- logo & heading-- */
    height: auto;
    width: 67%;
    float: left;
    margin: 15px 10px 10px 15px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

#top-bar-left span {
    padding: 10px;
    font-size: 35px;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
}

#top-bar-left img {
    margin-right: 15px;
    margin-bottom: 5px;
    float: left;
}

#top-bar-right { /* -- login -- */
    height: auto;
    width: auto;
    margin: 25px 10px 10px 10px;
    float: right;
}

#login_form table tr td {
    padding: 5px 0 5px 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#login_form table tr td label {
    color: #fff;
    cursor: pointer;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    font-size: 12px;
    font-weight: normal;
    padding-left: 1px;
    text-align: left;
    vertical-align: middle;
}

/* --- Top bar END--- */
 
 /* --- Gradient border --- */

/* 1) */

.bot-left {
  position: relative;
}
.bot-left::before, .bot-left::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -3px;
  
}
.bot-left::before {
  top: -3px;
  width: 3px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#4F2F4F), to(transparent));
  background-image: -webkit-linear-gradient(transparent, #4F2F4F);
  background-image: -moz-linear-gradient(transparent, #4F2F4F);
  background-image: -o-linear-gradient(transparent, #4F2F4F);
}
.bot-left::after {
  right: -3px;
  height: 3px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#4F2F4F), to(transparent));
  background-image: -webkit-linear-gradient(left, #4F2F4F, transparent);
  background-image: -moz-linear-gradient(left, #4F2F4F, transparent);
  background-image: -o-linear-gradient(left, #4F2F4F, transparent);
}

/* 2) */

.knockout-around {
  position: relative; 
}

.knockout-around::before, .knockout-around::after {
  content: "";
  position: absolute;
}

.knockout-around::before {
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background-image: -webkit-gradient(radial, right top, 10, 90% 0%, 150, from(#4F2F4F), to(transparent));
  background-image: -webkit-radial-gradient(right top, 150px 230px, #4F2F4F, transparent);
  background-image: -moz-radial-gradient(right top, farthest-corner, #4F2F4F 0%, transparent 72%);
  z-index: -2;
}

.knockout-around::after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: -1;
}

/* 3) */

.top-to-bottom {
    border-width: 3px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(#4F2F4F), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(#4F2F4F, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(#4F2F4F, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(#4F2F4F, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to #4F2F4F, black, rgba(0, 0, 0, 0)) 1 100%;
}

/* 4) */

.knockout-top-to-bottom {
  position: relative; 
}
.knockout-top-to-bottom::before, .knockout-top-to-bottom::after {
  content: "";
  position: absolute;
}
.knockout-top-to-bottom::before {
  top: -3px;
  left: -3px;
  bottom: 0;
  right: -3px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4F2F4F), to(transparent));
  background-image: -webkit-linear-gradient(#4F2F4F, transparent);
  background-image: -moz-linear-gradient(#4F2F4F, transparent);
  background-image: -o-linear-gradient(#4F2F4F, transparent);
  z-index: -2;
}
.knockout-top-to-bottom::after {
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
}

/* 5) */

.bottom-to-top {
    border-width: 3px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;  
    -o-border-image:
      -o-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%;
}

 /* --- Gradient border END --- */

 /* --- Image effects --- */

/*.soft-embossed .image-wrap {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,1), inset 0 2px 1px rgba(255,255,255,.5), inset 0 -9px 2px rgba(0,0,0,.6), inset 0 -12px 2px rgba(255,255,255,.3);
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,1), inset 0 2px 1px rgba(255,255,255,.5), inset 0 -9px 2px rgba(0,0,0,.6), inset 0 -12px 2px rgba(255,255,255,.3);
    box-shadow: inset 0 0 4px rgba(0,0,0,1), inset 0 2px 1px rgba(255,255,255,.5), inset 0 -9px 2px rgba(0,0,0,.6), inset 0 -12px 2px rgba(255,255,255,.3);

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}*/

 /* --- Image effects --- */

 /********************************************************************/

/*.loginbox { background: #FBFCFD; padding: 10px; width: 490px; margin: 4% auto 0 auto; position: relative; }
.loginboxinner {
    background: #FBFCFD; padding: 5px; position: relative; border: 1px solid #FBFCFD;
    -moz-box-shadow: inset 0 1px 0 #FBFCFD; -webkit-box-shadow: inset 0 1px 0 #FBFCFD; box-shadow: inset 0 1px 0 #FBFCFD;
}
.loginheader { height: 20px; }
.registrationForm { margin: 4px auto; text-align:center; }

.loginbox h1 { font-size: 30px; letter-spacing: 1px; color: #555; font-weight: normal; padding-top: 10px; }
.loginbox p { margin: 7px 0 5px 0; }
.loginbox label { display: block; color: #666; letter-spacing: 1px; font-size: 18px; }
.loginbox input.mini { width:195px; }
.loginbox input {
    padding: 12px 10px; color: #ccc;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif; margin-top: 8px; font-size: 15px; border: 1px solid #ccc; width: 420px;  outline: none;
}
.loginbox button {
    background: #5870A8; background-image:-webkit-linear-gradient(top, #340099, #6449b0); padding: 10px 20px; font-size: 18px; border: 1px solid #1D3871; letter-spacing: 1px; color: #fff; width: 440px; line-height:30px; font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    -moz-box-shadow: 1px 1px 3px #1D3871; -webkit-box-shadow: 1px 1px 3px #1D3871; box-shadow: 1px 1px 3px #1D3871; cursor: pointer;
}

.radius { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.radius1 { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.title { font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif; line-height:28px; font-weight:normal; text-align:center; font-size:16px; }

@media screen and (max-width: 430px) {

    body { font-size: 11px; }
    button, input, select, textarea { font-size: 11px; }

    .loginbox { width: auto; margin: 10px; }
    .loginbox input { width: 95%; }
    .loginbox button { width: 100%; }
}*/

/********************************************************************/

 /* --- Content --- */

#content {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    float: center;
}

#content p {
  font-size: 20px;
  color: #000;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
}

#reg-btn {
    margin-bottom: 5px;
}
 /* --- Content END --- */

 /* --- Registration --- */

#reg-div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    width: 50%;
}

 /* --- Registration END --- */

 /* --- jQuery validation style --- */ 

.errorContainer {
    display: none;
    overflow: auto;
    background-color: #FFDDDD;
    border: 1px solid #FF2323;
    padding-top: 1;
}

.errorContainer ul, li {
   list-style: none;
   margin: 0;
   padding: 0;
}

.errorContainer label {
   float: none;
   width: auto;
}

input.error {
    border: 1px solid #FF2323;
}

/* --- jQuery validation style --- */ 
